*{
    font-family: 'TRT', sans-serif;
}
body {
    transition: background-color 0.3s ease;
}

.dark-mode {
    background-color: #333333;
    color: #ffffff;
}
#loading{
    display: none;
}
#details{
    opacity: 0;
}
.col-2 img{
    height: 120px;
}
.github a{
    text-decoration: none;
    color: aliceblue;
    font-size: 32px;
}

